.read-more {
  &::first-letter {
    font-size: 90px;
    line-height: 75px;
    color: #c18f59;
    font-family: "Calisto-MT-Bold";
  }

  &_open {
  }
  &_close {
    overflow: hidden;
    height: 50px;
  }
}
