@import "../variables.scss";

.biographyMy {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 120px;
  margin: 0 auto;
  position: relative;
  align-items: flex-start;
  margin-bottom: 40px;

  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    width: 100%;
  }

  &Background {
    position: absolute;
    background-image: url("../images/biography-background.jpg");
    background-position: center;
    background-size: cover;
    right: 0;
    height: 100%;
    width: 75%;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;

      opacity: 0.7;
    }
  }

  &Wrapper {
    width: 390px;
    padding: 8px;
    text-align: center;
    background-color: #ebe6e6;
    margin-left: 40px;
    box-sizing: border-box;

    @media (max-width: $desktop-breakpoint) {
      margin-left: 0;
      width: 100%;
    }
  }

  &Banner {
    text-align: center;
  }

  &Story {
    text-align: left;
    color: $color-main;
    width: 50%;
    padding: 50px;
    font-size: 21px;
    box-sizing: border-box;
    @media (max-width: $desktop-breakpoint) {
      margin-left: 0;
      width: 100%;
    }
  }

  &Skill {
    margin: 0 auto;
    padding: 35px 10px 20px;
    background-color: #dad6d6;
    box-sizing: border-box;

    @media (max-width: $desktop-breakpoint) {
      margin: 0 auto;
      width: 100%;
      padding: 35px 35px 20px;
      background-color: #dad6d6;
    }
  }

  &Text::first-letter {
    font-size: 5rem;
    line-height: 4rem;
    color: $color-theme;
    font-family: "Calisto-MT-Bold";
  }
}
