@import "../variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  color: $color-main;
  width: 100%;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;

  @media (max-width: 992px) {
    flex-direction: column;
    box-sizing: border-box;
  }

  & address {
    text-align: left;
    text-decoration: none;
    margin-bottom: 40px;

    a {
      text-decoration: none;
      color: $color-main;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  p {
    color: $color-theme;
  }

  &__icons p {
    margin-bottom: 20px;
  }

  &__social {
    display: flex;

    .fab {
      color: $color-main;
      margin-right: 20px;
      display: inline-block;
      font-size: 30px;
      width: 30px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
  &-bottom {
    padding: 25px 0;
    background-color: #2d2d2d;

    &__inner {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      p {
        color: #777;
        font-size: 1rem;
        margin-left: 40px;
      }
      span {
        font-size: 1.2rem;
        color: $color-theme;
        font-family: "Courgette-Regular";
      }
    }
  }
}
