.footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  text-align: center;

  address {
    text-align: left;
    margin-left: 40px;
    text-decoration: none;
    & a {
      text-decoration: none;
      color: #fff;
    }
    & a:hover {
      text-decoration: underline;
    }
  }

  p {
    color: #c18f59;
  }

  &-icons p {
    margin-bottom: 20px;
  }

  &-container {
    display: flex;

    .fab {
      color: #fff;
      margin-left: 20px;
      display: inline-block;
      font-size: 30px;
      width: 30px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
  &-form {
    .portfolio-button {
      color: #fff;
    }
    &-date {
      margin-bottom: 20px;
    }
    &-contacts {
      margin-right: 40px;
    }
  }
}
