.progress {
  &__labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  & p {
    color: #fff;
  }

  &-bar {
    background-color: #cde1f8;
    transition: width 0.6s ease;
    height: 10px;

    &__scale {
      background-color: darken(#cde1f8, 50%);
      height: 100%;
    }
  }
}
