@import "./variables.scss";

@font-face {
  font-family: "CourierPrime-Regular";
  src: url("./fonts/CourierPrime-Regular.ttf");
}
@font-face {
  font-family: "Enriqueta-Regular";
  src: url("./fonts/Enriqueta-Regular.ttf");
}
@font-face {
  font-family: "Calistoga-Regular";
  src: url("./fonts/Calistoga-Regular.ttf");
}

img {
  width: 100%;
}
html {
  font-size: 18px;
  font-family: "CourierPrime-Regular";
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #343434;
}

h1 {
  font-size: 3rem;
  color: $color-main;
  letter-spacing: 3px;
  font-family: "Enriqueta-Regular";
  font-weight: 700;
  margin-bottom: 10px;
}
h2 {
  font-size: 2rem;
  color: $color-main;
  text-align: center;
  margin-bottom: 40px;
}
h3 {
  font-size: 1.8rem;
  color: $color-team;
  text-align: center;
  margin-bottom: 40px;
}
h4 {
  margin-bottom: 30px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: $color-team;
}
.section-background {
  position: relative;

  &::before {
    content: "";
    background-image: url("./images/background.jpg");
    height: 100%;
    z-index: -1;
    position: absolute;
    opacity: 0.8;
    width: 100%;
    background-size: cover;
  }
}

.about-me {
  display: flex;
  align-items: center;
  background-color: #000000dd;

  &__banner {
    width: 50%;
    text-align: center;

    img {
      width: auto;
      max-width: 100%;
      max-height: 100vh;
    }
  }

  &__brand {
    margin-left: 60px;

    &-bottom {
      margin-bottom: 20px;
      padding-left: 27px;
    }
    span {
      font-size: 1rem;
      color: $color-team;
      font-family: "Calistoga-Regular";
      letter-spacing: 1px;
    }
    p {
      margin-bottom: 42px;
      color: #777;
      font-size: 2rem;
    }
  }
}

.portfolio-button {
  padding: 10px 20px;
  font-size: 0.6rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #c28a4e;
  border: 1px solid $color-main;
  transition: color 0.3s;
  text-align: center;
  background-color: transparent;

  &:hover {
    color: #777;
  }
  &:focus {
    outline: none;
  }
}
