.footer-form {
  width: 600px;
  @media (max-width: 992px) {
    margin-left: 0;
    width: auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 1px solid #404040;
    background-color: #282828;
    color: #fff;

    &:focus {
      outline: none;
      border: 1px solid #fff;
    }

    &_incorrect {
      border: 1px solid #c52929;
    }
    &_correct {
      background-color: #282828;
    }
  }

  &__textarea {
    height: 90px;
    resize: none;
  }

  &__contacts {
    margin-bottom: 20px;
  }
}
