@import "../../variables.scss";

.footerForm {
  width: 600px;
  box-sizing: border-box;

  @media (max-width: $desktop-breakpoint) {
    margin-left: 0;
    width: auto;
  }

  &Input,
  &Textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 1px solid #404040;
    background-color: #282828;
    color: #fff;

    &:focus {
      outline: none;
      border: 1px solid #fff;
    }

    &Incorrect {
      border: 1px solid #c52929;
    }
    &Correct {
      background-color: #282828;
    }
  }

  &Textarea {
    height: 90px;
    resize: none;
  }

  &Contacts {
    margin-bottom: 20px;
  }
}
